{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage.css' %}">
</head>>

{% block page_content %}
{% if graph  %}
{{ graph|safe }}
{% else %}
<p>No graph was provided.</p>
{% endif %}


<body>
    <div class="dropdown">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Change What You See...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'homepage'%}">Total Cases</a>
            <a class="dropdown-item" href="{% url 'deathview'%}">Total Deaths</a>
            <a class="dropdown-item" href={{ deathgraph|safe }}>Total Deaths TEST</a>
            <a class="dropdown-item" href="{% url 'homepage'%}">Change in Cases per day</a>
            <a class="dropdown-item" href="#">Change in Deaths per day</a>
        </div>
    </div>
</body>
{% endblock %}

</html>